<!DOCTYPE html>
<html lang="en">
<head>
    <!--================ Basic page needs ================-->
    <title>Club Himalaya, Nagarkot by ACE Hotels</title>
    <jcms:site:seotitle/>

    <!-- Fevicon -->
    <jcms:site:fevicon/>
    <link rel="shortcut icon" href="images/logo.png"> 

    <!--================ Google web fonts ================-->
    <link href='https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,900&amp;display=swap'
    rel="stylesheet"/>
    <!--================ Vendor CSS ================-->
    <link rel="stylesheet" href="css/fontawesome-all.min.css" />
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css' integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href='https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp' rel="stylesheet"/>

    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/animate.css" />
    <link rel="stylesheet" href="vendors/fancybox/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="vendors/arcticmodal/jquery.arcticmodal-0.3.css"/>
    <link rel="stylesheet" href="vendors/owl-carousel/assets/owl.carousel.min.css"/>
    <!-- <link href="css/pointer.css" rel="stylesheet"> -->
    <!--================ Theme CSS ================-->
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/responsive.css" />
    <link rel="stylesheet" href="css/datepicker.css" />
    <!--================ Vendor JS ================-->
</head>
<!-- Messenger Chat Plugin Code -->
<div id="fb-root"></div>

<!-- Your Chat Plugin code -->
<div id="fb-customer-chat" class="fb-customerchat">
</div>

<script>
  var chatbox = document.getElementById('fb-customer-chat');
  chatbox.setAttribute("page_id", "127411177302444");
  chatbox.setAttribute("attribution", "biz_inbox");
</script>

<!-- Your SDK code -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v18.0'
    });
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<body>
    
        <!--================ Header ================-->
        <jcms:module:header/>
        <!--================ End of Header ================-->
    
        <div class="video-fullscreen-wrap">
            <!-- The opacity on the image is made with "data-overlay-dark="number". You can change it using the numbers 0-9. -->
            <div class="video-fullscreen-video" data-overlay-darkgray="6">
                <video playsinline="" autoplay="" loop="" muted="">
                    <source src='template/web/images/clubvid.webm' type="video/mp4" autoplay="" loop="" muted="">
                    <!-- <source src='https://duruthemes.com/demo/html/cappa/video.webm' type="video/webm" autoplay="" loop="" muted=""> -->
                </video>
            </div>

            <div class="v-middle caption overlay">
                <div class="container">
                    <div class="row">
                        <!-- <div class="col-md-10 offset-md-1"> 
                            <h4>By Ace Hotels</h4>
                            <h1>Your quiet room <br/>in Nagarkot</h1>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>

           

            <jcms:module:booking-form/>
        </div>


        <div class="mad-content no-pd">
            <div class="container">
                <jcms:module:home_article/>
                

                
                            <jcms:module:list-package-room/>
                        

                <!-- detail features starts -->
                <div class="mad-section mad-section.no-pb">
                    <div class="row justify-content-center">
                        <div class="col-xxl-10">
                            <div class="mad-title-wrap align-center">
                                <div class="mad-pre-title">The Advantages</div>
                                <h2 class="mad-section-title">Amenities and Facilities</h2>
                            </div>
                            <!--================ Icon Boxes ================-->
                            <div class="mad-icon-boxes align-center small-size item-col-5">
                               <jcms:module:facility-list-home/>
                            </div>
                            <!--================ End of Icon Boxes ================-->
                        </div>
                    </div>
                </div>
                            
                <div class="mad-section mad-section-pb-mobile mad-section--stretched mad-colorizer--scheme-color-3">
                    <div class="mad-entities style-2 type-4 with-img-border">
                <jcms:module:home-mainservice/>
            </div>
            </div>
                <div class="mad-section align-center mad-section--stretched mad-colorizer--scheme-">
                    <div class="mad-colorizer-bg-color" style="left: -120.5px; right: -120.5px;">
                        <div class="mad-section-svg to-right">
                            <img src="leaves_bg4.svg" alt="">
                        </div>
                    </div>

                    <div class="mad-title-wrap">
                        <div class="mad-pre-title">Club Himalaya by ACE Hotels</div>
                        <h4 class="mad-section-title">Celebrates 25 Years of Exceptional Experiences</h4>
                    </div>

                    <div class="content-element-6">
                        <p class="mad-text-medium">Batase Dandha, the barren Windy Hills of Nagarkot, was where the flower generation (so-called Hippies) pitched their tents, smoked wild-grown hashish, sang, and danced the whole night, waiting for the sunrise in the 60s and 70s. While the high-end tourists staying at The Royal Hotel, Soaltee or Annapurna woke up at 3:00 AM, drove for an hour and half over the rocky roads with elite breakfast boxes to reach this secluded Batase Dadha before 5:00 AM to catch a glimpse of those magical first rays on the Himalayan range.<br/> At dawn, magic happens: the white snow peaks of Annapurna in the North West to Everest in the East, all turn to a golden persimmon hue. Had there only been some accommodation on this barren and chilly hillock, this experience would have been so much more comfortable.</p>
                    </div>

                    <div class="mad-signa">
                        <div class="btn-set justify-content-center">
                            <a href="about.html" class="btn btn-big">Explore More</a>
                        </div>
                    </div>
                </div>

                <jcms:module:testimonialList123/>
                
                
                <jcms:module:homebloglist/>
            </div>
        </div>

        <div class="map-below">
            <div class="container">
                <div class="mad-section mad-section mad-section--stretched mad-colorizer--scheme-color-4">
                    <div class="mad-title-wrap align-center">
                        <div class="row justify-content-center">
                            <div class="col-lg-6">
                                <div class="mad-pre-title">FAQ'S</div>
                                <h2 class="mad-page-title">Frequently Asked Questions</h2>
                            </div>
                        </div>

                        <div class="row" style="margin-top: 50px;">
                            <div class="col-md-8 offset-md-2">
                                <!--================ Accordion ================-->
                                <dl role="presentation" class="mad-panels mad-panels--accordion">
                                    <jcms:module:faq:details-homepage/>
                                </dl>
                                <!--================ End of Accordion ================-->
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-md-12">
                                <a href="faq" class="btn btn-big faq-btn">View More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mad-content no-pd">
            <div class="container">
                <div class="mad-section mad-section mad-section--stretched mad-colorizer--scheme-color-4">
                    <div class="mad-colorizer-bg-color" style="left: -120.5px; right: -120.5px;">
                    </div>
                    <div class="row vr-size-2">
                        <div class="col-lg-5">
                            <div class="mad-pre-title">what has made us proud</div>
                            <h2 class="mad-section-title">Awards and <br>Ratings</h2>
                        </div>
                        <div class="col-lg-7">
                            <!--================ Partners ================-->
                            <div class="mad-sponsors item-col-4">
                                <div class="mad-grid-item">
                                    <!--================ Partners Item ================-->
                                    <a href="#">
                                        <img src="images/awards/booking.png" alt=""/>
                                    </a>
                                    <!--================ End of Partners Item ================-->
                                </div>

                                <div class="mad-grid-item">
                                    <!--================ Partners Item ================-->
                                    <a href="#">
                                        <img src="images/awards/travel.png" alt=""/>
                                    </a>
                                    <!--================ End of Partners Item ================-->
                                </div>

                                <div class="mad-grid-item">
                                    <!--================ Partners Item ================-->
                                    <a href="#">
                                        <img src="images/awards/fab.png" alt=""/>
                                    </a>
                                    <!--================ End of Partners Item ================-->
                                </div>

                                <div class="mad-grid-item">
                                    <!--================ Partners Item ================-->
                                    <a href="#">
                                        <img src="images/awards/2.png" alt=""/>
                                    </a>
                                    <!--================ End of Partners Item ================-->
                                </div>
                            </div>
                            <!--================ End Of Partners ================-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="map-below">
            <div class="container">
                <div class="mad-section mad-section mad-section--stretched mad-colorizer--scheme-color-4">
                    <div class="mad-colorizer-bg-color" style="left: -120.5px; right: -120.5px;">
                    </div>

                    <div class="row vr-size-2">
                        <div class="col-xxl-5 col-xl-5">
                            <h6 class="mad-widget-title">Nearby Attraction</h6>
                            <section class="mad-widget height-attraction">
                               <jcms:module:inner-nearby-detail/>
                            </section>
                        </div>

                        <div class="col-xxl-1 col-xl-1">
                        </div>

                        <div class="col-xxl-6 col-xl-6">
                            <div class="mad-booking-holder">
                               <jcms:module:office_map/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--================ Footer ================-->
        <jcms:module:footer-booking/>
        
        
        <jcms:module:footer-whatsapp/>

        <!-- <div class="whatapp">
            <a href="#" target="_blank"><img src="images/messenger.png"></a>
        </div> -->
        <!-- Messenger Chat plugin Code -->
    <div id="fb-root"></div>

    <!-- Your Chat plugin code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

   
        
        <jcms:module:popup/>
        <jcms:module:inner-nearby-detail-modals/>
        <!-- Modal -->
        <!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Nagarkot View Tower</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Nagarkot, at an altitude of 2,175 meters above the sea level, is the most popular touristic destination out of the Kathmandu ValleyNagarkot, at an altitude of 2,175 meters above the sea level, is the most popular touristic destination out of the Kathmandu Valley</p>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Modal -->
        <!-- <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel1">Mahankal Temple</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>The temple of Mahankal is situated near New Road in Kathmandu. Mahankal denotes someone who is beyond time and the Lord Mahankal is also known as Mahankaleshvar. The temple as well as the statue of the god is one of the most amazing examples of the Nepalese ancient heritage. Every day thousands of devotees come to worship the Lord in this temple. The area is also called Mahankal because of the presence of the temple.</p>
                    </div>
                </div>
        </div>
    </div> --> 
    
    
    <script src="vendors/modernizr.js"></script>
    <script src="vendors/jquery-3.6.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="vendors/jquery.easing.1.3.min.js"></script>
    <script src="vendors/jquery.parallax-1.1.3.min.js"></script>
    <script src="vendors/monkeysan.accordion.js"></script>
    <script src="vendors/monkeysan.jquery.nav.1.0.js"></script>
    <script src="vendors/monkeysan.validator.min.js"></script>
    <script src="vendors/handlebars-v4.0.5.min.js"></script>
    <script src="vendors/arcticmodal/jquery.arcticmodal-0.3.min.js"></script>
    <script src="vendors/retina.min.js"></script>
    <script src="vendors/sticky-sidebar.js"></script>
    <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="vendors/mad.customselect.js"></script>
    <script src="vendors/fancybox/jquery.fancybox.min.js"></script>
    <script src="vendors/countdown/jquery.plugin.min.js"></script>
    <script src="vendors/countdown/jquery.countdown.js"></script>
    <script src="js/modules/mad.alert-box.min.js"></script>
    <script src="js/modules/mad.newsletter-form.min.js"></script>
    <script src="js/modules/mad.sticky-header-section.min.js"></script>
    <script src="js/mad.app.js"></script>
    <script src="js/datepicker.js"></script>

    <!-- Google Map -->
    <script type="text/javascript" src='https://maps.google.com/maps/api/js?key=AIzaSyDcgjWswIUEL_49lmUZl_uph4WBZ-7fztg'></script>
    <script type="text/javascript" src="js/jquery.gmap.js"></script>
    <script src="js/pointer.js"></script>
    
    <script>
        $(function () {
            // console.log('works');
            $("#checkin").datepicker({
                dateFormat: 'yy-mm-dd',
                minDate: 'dateToday',
                onSelect: function (dateText) {
                    var nextDay = new Date(dateText);
                    nextDay.setDate(nextDay.getDate() + 1);
                    $("#checkout").datepicker().datepicker("setDate", nextDay);
                    $("#checkout").datepicker().datepicker('option', 'minDate', nextDay);
                }
            }).datepicker("setDate", new Date());
    
            $("#checkout").datepicker({
                dateFormat: 'yy-mm-dd',
                minDate: 'today' + 1,
            }).datepicker("setDate", new Date());
        });
    </script>
     <script>
        var chatbox = document.getElementById('fb-customer-chat');
        chatbox.setAttribute("page_id", "112259251954506");
        chatbox.setAttribute("attribution", "biz_inbox");
      </script>
  
      <!-- Your SDK code -->
      <script>
        window.fbAsyncInit = function() {
          FB.init({
            xfbml            : true,
            version          : 'v17.0'
          });
        };
  
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        </script>
    <script type="text/javascript">

    $('#google-map').gMap({

        address: 'Club Himalaya, Nagarkot Resort, Nagarkot 44812, Nepal',
        maptype: 'ROADMAP', <!-- ROADMAP, SATELLITE, HYBRID -->
        tilt: 45,
        zoom: 18,
        markers: [
            {
                address: "Club Himalaya, Nagarkot Resort, Nagarkot 44812, Nepal",
                html: '<div style="width: 360px;"><h1 class="handwriting nobottommargin">Club Himalaya, Nagarkot</h1><p class="nobottommargin serif"></p></div>',
                icon: {
                    image: "images/map-icon-blue.png",
                    iconsize: [31, 50],
                    iconanchor: [31, 50]
                }
            }
        ],
        doubleclickzoom: false,
        controls: {
            panControl: true,
            zoomControl: true,
            mapTypeControl: true,
            scaleControl: false,
            streetViewControl: false,
            overviewMapControl: false
        }

    });

    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            // $("#modal-popup-video").modal('show');
            // $('#modal-popup-video').on('hidden.bs.modal', function () {
            //     $("#modal-popup-image").modal('show');
            //     console.log("video closed")
            //     $("#modal-popup-video iframe").attr("src", "");
            // });
            // if ($('#modal-popup-video')[0]) {
            //     $("#modal-popup-image").modal('hide');
            // } else {
            //     $("#modal-popup-image").modal('show');
            // }
    
    
    
            const myModal = new bootstrap.Modal('#modal-popup-image');
            myModal.show();
            
            const carousel = new bootstrap.Carousel('#myCarousel')
        });
    </script><!-- Google Map End -->

    <!-- <script>
        init_pointer({
              pointerColor: "#fff",
              ringSize: 15,
              ringClickSize: 10,

            })

    </script> -->
</body>
</html>
