@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  a,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-title;
  }

  p,
  span,
  button,
  input,
  label,
  body {
    @apply font-body;
  }

  section {
    @apply pt-[12rem] pb-[9rem] px-[1rem] relative;
  }

  .transition-linear {
    @apply transition-all duration-300 ease-linear;
  }
}

.slick-initialized .slick-slide {
  @apply px-2;
}

.slick-dots li {
  margin: 0 5px;
  cursor: pointer;
  /* transform: scale(0.75); */
}

.slick-dots li.slick-active button:before {
  color: #be6138;
  transform: scale(1.5);
}



.path-0 {
  animation: pathAnim-0 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes pathAnim-0 {
  0% {
    d: path("M 0,400 L 0,100 C 46.4634356887409,94.79043038599087 92.9268713774818,89.58086077198175 148,101 C 203.0731286225182,112.41913922801825 266.75595017881363,140.46698729806388 326,137 C 385.24404982118637,133.53301270193612 440.04932790726355,98.55119003576274 483,80 C 525.9506720927365,61.44880996423726 557.0467381921322,59.32825255888518 612,79 C 666.9532618078678,98.67174744111482 745.7637193242077,140.1357997286965 802,148 C 858.2362806757923,155.8642002713035 891.8983845110371,130.12854852632876 946,114 C 1000.1016154889629,97.87145147367123 1074.6427426316438,91.35000616598842 1125,89 C 1175.3572573683562,86.64999383401158 1201.5306449623874,88.47142680971758 1250,91 C 1298.4693550376126,93.52857319028242 1369.2346775188062,96.76428659514121 1440,100 L 1440,400 L 0,400 Z");
  }

  25% {
    d: path("M 0,400 L 0,100 C 48.99272413367862,78.81953385127636 97.98544826735724,57.639067702552715 155,58 C 212.01455173264276,58.360932297447285 277.0509310642496,80.26326304106549 331,86 C 384.9490689357504,91.73673695893451 427.8108274756444,81.30788013318536 474,70 C 520.1891725243556,58.69211986681464 569.705759033173,46.505216426193115 623,61 C 676.294240966827,75.49478357380688 733.3661363916636,116.67125416204217 781,126 C 828.6338636083364,135.32874583795783 866.8296954001726,112.80976692563817 930,113 C 993.1703045998274,113.19023307436183 1081.315082007646,136.0896781354051 1148,125 C 1214.684917992354,113.91032186459488 1259.909976569244,68.8315205327414 1305,59 C 1350.090023430756,49.16847946725861 1395.045011715378,74.5842397336293 1440,100 L 1440,400 L 0,400 Z");
  }

  50% {
    d: path("M 0,400 L 0,100 C 40.91389813787153,119.42163028733506 81.82779627574305,138.84326057467013 140,125 C 198.17220372425695,111.15673942532987 273.6027130348994,64.04858798865456 337,68 C 400.3972869651006,71.95141201134544 451.7613515846591,126.96238747071156 490,127 C 528.2386484153409,127.03761252928844 553.3518806264644,72.1018621284992 612,69 C 670.6481193735356,65.8981378715008 762.8311259094833,114.63016401529165 818,136 C 873.1688740905167,157.36983598470835 891.3236157356024,151.37748181033422 932,137 C 972.6763842643976,122.62251818966578 1035.8744111481071,99.85990874337155 1094,97 C 1152.1255888518929,94.14009125662845 1205.1787396719694,111.18288321617955 1262,115 C 1318.8212603280306,118.81711678382045 1379.4106301640154,109.40855839191022 1440,100 L 1440,400 L 0,400 Z");
  }

  75% {
    d: path("M 0,400 L 0,100 C 66.45149833518313,124.75511160439018 132.90299667036626,149.51022320878036 176,147 C 219.09700332963374,144.48977679121964 238.8395116537181,114.71421876926871 290,95 C 341.1604883462819,75.28578123073129 423.73895671476134,65.63290171414478 491,69 C 558.2610432852387,72.36709828585522 610.2046614872363,88.75417437415219 650,96 C 689.7953385127637,103.24582562584781 717.4423973362932,101.35040078924652 770,95 C 822.5576026637068,88.64959921075348 900.0257491675914,77.84422246886176 964,78 C 1027.9742508324086,78.15577753113824 1078.454605993341,89.27270933530646 1132,101 C 1185.545394006659,112.72729066469354 1242.1558268590454,125.06494018991243 1294,125 C 1345.8441731409546,124.93505981008757 1392.9220865704774,112.46752990504379 1440,100 L 1440,400 L 0,400 Z");
  }

  100% {
    d: path("M 0,400 L 0,100 C 46.4634356887409,94.79043038599087 92.9268713774818,89.58086077198175 148,101 C 203.0731286225182,112.41913922801825 266.75595017881363,140.46698729806388 326,137 C 385.24404982118637,133.53301270193612 440.04932790726355,98.55119003576274 483,80 C 525.9506720927365,61.44880996423726 557.0467381921322,59.32825255888518 612,79 C 666.9532618078678,98.67174744111482 745.7637193242077,140.1357997286965 802,148 C 858.2362806757923,155.8642002713035 891.8983845110371,130.12854852632876 946,114 C 1000.1016154889629,97.87145147367123 1074.6427426316438,91.35000616598842 1125,89 C 1175.3572573683562,86.64999383401158 1201.5306449623874,88.47142680971758 1250,91 C 1298.4693550376126,93.52857319028242 1369.2346775188062,96.76428659514121 1440,100 L 1440,400 L 0,400 Z");
  }
}

.path-1 {
  animation: pathAnim-1 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes pathAnim-1 {
  0% {
    d: path("M 0,400 L 0,233 C 62.216105561721534,220.1285731902824 124.43221112344307,207.25714638056482 177,199 C 229.56778887655693,190.74285361943518 272.48726106794925,187.09998766802315 321,189 C 369.51273893205075,190.90001233197685 423.6187446047601,198.34290294734245 479,215 C 534.3812553952399,231.65709705265755 591.0377605130103,257.52840054260696 650,253 C 708.9622394869897,248.47159945739304 770.2302133431989,213.54349488222962 819,200 C 867.7697866568011,186.45650511777038 904.0413861141942,194.29761992847455 947,191 C 989.9586138858058,187.70238007152545 1039.6042422000246,173.26602540387228 1095,194 C 1150.3957577999754,214.73397459612772 1211.5416450857072,270.6382784560365 1270,283 C 1328.4583549142928,295.3617215439635 1384.2291774571463,264.18086077198177 1440,233 L 1440,400 L 0,400 Z");
  }

  25% {
    d: path("M 0,400 L 0,233 C 46.747268467135285,208.73461585892218 93.49453693427057,184.46923171784437 153,195 C 212.50546306572943,205.53076828215563 284.76912073005303,250.85768898754475 343,266 C 401.23087926994697,281.14231101245525 445.42898014551736,266.1000123319768 490,247 C 534.5710198544826,227.89998766802316 579.5149586878777,204.74226168454803 638,200 C 696.4850413121223,195.25773831545197 768.5111851029719,208.93094092983108 820,219 C 871.4888148970281,229.06905907016892 902.4403009002342,235.5339745961278 947,222 C 991.5596990997658,208.4660254038722 1049.7276112960908,174.9331606856579 1115,185 C 1180.2723887039092,195.0668393143421 1252.6492539154026,248.73338266124063 1308,264 C 1363.3507460845974,279.2666173387594 1401.6753730422988,256.1333086693797 1440,233 L 1440,400 L 0,400 Z");
  }

  50% {
    d: path("M 0,400 L 0,233 C 44.3929461092613,228.06035269453693 88.7858922185226,223.12070538907386 145,238 C 201.2141077814774,252.87929461092614 269.2493772351708,287.5775311382415 332,282 C 394.7506227648292,276.4224688617585 452.2165988407942,230.5691700579603 508,229 C 563.7834011592058,227.4308299420397 617.8842274016524,270.1457886299174 660,276 C 702.1157725983476,281.8542113700826 732.246491552596,250.8476754223702 791,242 C 849.753508447404,233.1523245776298 937.129806387964,246.4635096806018 988,236 C 1038.870193612036,225.5364903193982 1053.2342828955482,191.29828585522256 1102,185 C 1150.7657171044518,178.70171414477744 1233.9330620298433,200.34334689850783 1296,213 C 1358.0669379701567,225.65665310149217 1399.0334689850783,229.32832655074608 1440,233 L 1440,400 L 0,400 Z");
  }

  75% {
    d: path("M 0,400 L 0,233 C 45.9037119250216,235.28185966210384 91.8074238500432,237.56371932420768 150,249 C 208.1925761499568,260.4362806757923 278.6740165248489,281.02698236527317 336,278 C 393.3259834751511,274.97301763472683 437.49651005056114,248.32835121469972 481,233 C 524.5034899494389,217.67164878530028 567.3399432729066,213.65961277592797 621,210 C 674.6600567270934,206.34038722407203 739.1437168578121,203.03319768158835 797,198 C 854.8562831421879,192.96680231841165 906.0851892958442,186.20759649771858 954,190 C 1001.9148107041558,193.79240350228142 1046.5155259588112,208.1364163275373 1108,224 C 1169.4844740411888,239.8635836724627 1247.852706868911,257.2467381921322 1306,259 C 1364.147293131089,260.7532618078678 1402.0736465655445,246.8766309039339 1440,233 L 1440,400 L 0,400 Z");
  }

  100% {
    d: path("M 0,400 L 0,233 C 62.216105561721534,220.1285731902824 124.43221112344307,207.25714638056482 177,199 C 229.56778887655693,190.74285361943518 272.48726106794925,187.09998766802315 321,189 C 369.51273893205075,190.90001233197685 423.6187446047601,198.34290294734245 479,215 C 534.3812553952399,231.65709705265755 591.0377605130103,257.52840054260696 650,253 C 708.9622394869897,248.47159945739304 770.2302133431989,213.54349488222962 819,200 C 867.7697866568011,186.45650511777038 904.0413861141942,194.29761992847455 947,191 C 989.9586138858058,187.70238007152545 1039.6042422000246,173.26602540387228 1095,194 C 1150.3957577999754,214.73397459612772 1211.5416450857072,270.6382784560365 1270,283 C 1328.4583549142928,295.3617215439635 1384.2291774571463,264.18086077198177 1440,233 L 1440,400 L 0,400 Z");
  }
}


.hmm {
  mix-blend-mode: overlay;
}