@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-title;
  }

  a,
  p,
  span,
  button,
  input,
  label,
  body {
    @apply font-body;
  }

  section {
    @apply py-20 px-4 md:pt-[10rem] md:pb-[7.5rem] lg:pt-[12rem] lg:pb-[9rem] relative z-10;
  }

  .transition-linear {
    @apply transition-all duration-300 ease-linear;
  }

  .responsive-banner {
    @apply -mt-[calc(0rem+3rem)] md:-mt-[calc(6rem+3rem)];
  }

  html {
    scroll-behavior: smooth;
    max-width: 100vw;
    overflow-x: hidden;
  }
}

::-webkit-scrollbar {
  width: 0.25em;
  border-radius: 100vw;
}

::-webkit-scrollbar:hover {
  width: 0.35em;
}

::-webkit-scrollbar-track {
  background: #edd3c8;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
  background: #be6138;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: #3c596e;
}

.slick-initialized .slick-slide {
  @apply px-2;
}

.slick-dots li {
  margin: 0 5px;
  cursor: pointer;
  /* transform: scale(0.75); */
}

.slick-dots li.slick-active button:before {
  color: #be6138;
  transform: scale(1.5);
}

.slick-initialized .slick-slide {
  @apply p-0;
}

.home-accommodation .slick-initialized .slick-slide {
  @apply p-2;
}