@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  a,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-title;
  }

  p,
  span,
  button,
  input,
  label,
  body {
    @apply font-body;
  }

  section {
    @apply py-[12rem] px-[1rem];
  }

  .transition-linear {
    @apply transition-all duration-300 ease-linear;
  }
}

.slick-initialized .slick-slide {
  @apply px-2;
}

.slick-dots li {
  margin: 0 5px;
  cursor: pointer;
  /* transform: scale(0.75); */
}

.slick-dots li.slick-active button:before {
  color: #be6138;
  transform: scale(1.5);
}
